@use "@/shared/styles/variables" as *;

.carousel {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: $color-light-default;
}

.viewport {
  position: relative;
  width: 600px;
  height: 11rem;
  cursor: grab;
  perspective: 1000px;
  transform-style: preserve-3d;

  &:active {
    cursor: grabbing;
  }
}
.card {
  position: absolute;
  top: 0;
  left: 50%;

  width: 16rem;
  height: 9rem;

  transform-style: preserve-3d;
  transition: all 0.4s ease;

  overflow: hidden;

  background: rgba(0,0,0,0.8);

  &:hover {
    transform: scale(1.1);
  }
}
.preview {
  height: 100%;
  background-size: cover;
  background-position: center;
}
.info {
  position: absolute;
  left: 1rem;
  bottom: 0.5rem;
  background-color: black;
  padding: 0.5rem;
  color: $color-light-default;
}
.navLeft,
.navRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background: black;
  border: 1px solid #00ff9c;
  color: #00ff9c;

  padding: 8px;
  cursor: pointer;
  z-index: 20;
}

.navLeft {
  left: 10px;
}

.navRight {
  right: 10px;
}