@use "./variables" as *;

.button2d {
  position: relative;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  font-family: "Comic Relief", system-ui;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-radius: 0.5rem;
  background-color: $color-light-elementary;
  cursor: pointer;
}