@use "./variables" as *;

// buttons
.button2d {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  gap: 1rem;
  font-family: "Comic Relief", system-ui;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-radius: 0.5rem;
  background-color: $color-light-elementary;
  cursor: pointer;

  &:hover {

  }
}
.tooltip2d {
  position: absolute;
  width: fit-content;
  padding: 1rem;
  background-color: $color-light-default;
  border-radius: 1rem;
  color: $color-light-elementary;
}

// inputs
.input-text {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: "Comic Relief", system-ui;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-radius: 0.5rem;

  &__field {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 0.5rem;
  }

  &__input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: $color-light-elementary;
    text-decoration: none;
    border: none;
  }

  &--top {
    flex-direction: column;
  }
  &--left {
    flex-direction: row;
  }
}

.range2d {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 1rem;
  font-family: "Comic Relief", system-ui;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-radius: 0.5rem;
  background-color: $color-light-elementary;
  cursor: pointer;

  &__field {
    display: flex;
    gap: 0.5rem;
  }

  &--top {
    flex-direction: column;
  }
  &--left {
    flex-direction: row;
  }
}
.range2d {}