.container {
  position: absolute;
  inset: 0;
  z-index: 0;
}
.footer {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  align-items: center;
  z-index: 2;
}